.box {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
button {
  background-color: #1c1d1ee3;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 4px;
}

button:hover {
  background-color: #0056b3;
}